*{
    margin: 0;
    box-sizing: border-box;
}

.loader {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border: 5px solid lightgray;
    border-top: 5px solid black;
    border-radius: 100px;
    animation: 2s rotate linear infinite;
}
@keyframes rotate {
    0%{
    transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.heading {
    letter-spacing: 1.5px;
    font-family: "Calibri",sans-serif;
    background-color: black;
    color: white;
    padding: 15px;
}
/*Search Box*/
.searchBox {
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.searchBox input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}
.searchBox .placeholder-label{
    position: absolute;
    font-size: 16px;
    top: 10px;
    left: 10px;
    transition: all 0.4s;
    background-color: white;
    cursor: text;
}
.searchBox input:focus{
    cursor: text;
}
.searchBox input:focus + .placeholder-label{
    opacity: 0;
}
.searchBox input:not(:placeholder-shown) + .placeholder-label {
    transform: translateY(-100%);
    opacity: 1;
}
.filter-heading {
    margin: 10px 0;
    font-size: 20px;
    padding: 0 20px;
}
.filter-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}
.filter-div  input:focus,
.filter-div select:focus{
    outline: none;
}
.filter-wrapper {
    flex: 1 15%;
    max-width: 15%;
    padding: 0 10px;
}
.fx-b30{
    flex: 1 30%;
    max-width: 30%;
}
.filter-wrapper > label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}
.filter {
    position: relative;
    border-radius: 20px;
    font-size: 15px;
}
.filter-value-wrapper{
    position: relative;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    cursor: pointer;
}
.filter-value{
    padding-left: 10px;
    pointer-events: none;
    text-transform: capitalize;
}
.filter-icon{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    pointer-events: none;
}
.filter-icon i{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.optionList {
    height: 0;
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    padding: 0;
    opacity: 0;
    z-index: 5;
    background-color: #fff;
    visibility: hidden;
    overflow-y: scroll;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.4s ease-in-out;
}
.optionList::-webkit-scrollbar {
    width: 10px;
}
.optionList::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.optionList::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 100px;
}
.optionList li {
    padding: 10px 20px;
    font-size: 15px;
    display: block;
    width: 100%;
    text-transform: capitalize;
}
.optionList li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.displayList{
    height: 150px;
    opacity: 1;
    visibility: visible;
}
.filter option{
    padding: 10px;
    font-size: 15px;
}
.filters-selected{
    padding: 10px;
    border: 1px dot-dash black;
    margin: 10px auto;
    width: 80%;
}
.filters-selected > span {
    display: inline-block;
    padding: 10px;
    margin: 3px 10px;
}

/*Custom Radio Box*/
.radioBox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.radioBox:hover input ~ .checkmark {
    background-color: #ccc;
}

.radioBox input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radioBox input:checked ~ .checkmark:after {
    display: block;
}

.radioBox .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background: white;
}
/*End of customised radio button*/

.outer {
    position: relative;
    padding: 15px;
    min-height: 200px;
}
/*Cards*/
.cards{
    list-style-type: none;
    display: flex;
    margin: 20px;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-item {
    flex-basis: 33%;
    max-width: 33%;
    padding: 0 20px;
    margin: 20px 0;
    min-height: 200px;
}
.card-body {
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.card-img {
    width: 100%;
    height: 150px;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-details {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.card-details > *{
    padding: 5px;
    margin: 0;
}
.card-heading {
    flex-basis: 85%;
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-details .cuisines {
    flex-basis: 100%;
    max-width: 100%;
}
.shineBox {
    text-align: right;
    flex-basis: 15%;
    max-width: 15%;
    display: inline-block;
}
.shineBox > span{
    display: inline-block;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 6px rgba(192,192,192,0.5);
    background-color: white;
}
.fx-b50{
    flex-basis: 50%;
    max-width: 50%;
}
.fx-b100{
    flex-basis: 100%;
    max-width: 100%;
}
.availabitity-icons {
    display: flex;
    justify-content: flex-end;

}
.availabitity-icons a{
    font-size: 20px;
    flex-basis: 20%;
    padding: 0 20px;
    max-width: 20%;
    position: relative;
    display: inline-block;
}
.availabitity-icons a > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.ml-10{
    margin-left: 10px;
}
.checkBoxDiv {
    padding-top: 10px;
}
.checkBoxDiv > label {
    margin: 0 5px;
}
.d-flex{
    display: flex;
    align-items: center;
}
.fx-b40{
    flex-basis: 40%;
    max-width: 40%;
}
.empty-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}
/*Invert Colors background: #222;
color: #fff;*/
@media screen and (max-width: 768px)
{
    .card-item{
        margin: 10px 0;
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .card-item {
        margin: 15px 0;
        flex-basis: 100%;
        max-width: 100%;
    }
    .filter-wrapper {
        margin: 10px 0;
        flex-basis: 50%;
        max-width: 50%;
    }
    .filter-wrapper.fx-b30,
    .filter-wrapper.fx-b40{
        flex-basis: 100%;
        max-width: 100%;
        margin: 5px 0;
    }
    .radioBox{
        margin: 5px 0;
    }
    .filter-div{
        padding-bottom: 20px;
    }
}