*{
    margin: 0;
    box-sizing: border-box;
}
.loader {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border: 5px solid lightgray;
    border-top: 5px solid black;
    border-radius: 100px;
    animation: 2s rotate linear infinite;
}
@keyframes rotate {
    0%{
    transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.heading {
    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: "Calibri",sans-serif;
    background-color: black;
    color: white;
    padding: 15px;
}
/*Search Box*/
.searchBox {
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.searchBox input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}
.searchBox .placeholder-label{
    position: absolute;
    font-size: 16px;
    top: 10px;
    left: 10px;
    transition: all 0.4s;
    background-color: white;
}
.searchBox input:focus + .placeholder-label {
    transform: translateY(-100%);
}
.searchBox input:valid + .placeholder-label {
    transform: translateY(-100%);
}
.filter-heading {

}
.filter-div {
    display: flex;
    justify-content: center;
}
.filter-wrapper {
    flex: 1 25%;
    max-width: 25%;
}
.filter-wrapper > label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.filter {
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    margin: 0 15px;
}
.filter option{
    padding: 10px;
    font-size: 15px;
}
.filters-selected{
    padding: 10px;
    border: 1px dot-dash black;
    margin: 10px auto;
    width: 80%;
}
.filters-selected > span {
    display: inline-block;
    padding: 10px;
    margin: 3px 10px;
}

/*.filter-dropdown{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/
/*.filter-dropdown-menu {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    box-shadow: 0 0 6px rgba(0,0,0,0.2);*/
/*    border-bottom-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 0;*/
/*}*/

/*.filter-dropdown:hover > .filter-dropdown-menu{*/
/*    display: block;*/
/*}*/

.outer {
    position: relative;
    padding: 15px;
    min-height: 200px;
}
/*Cards*/
.cards{
    list-style-type: none;
    display: flex;
    margin: 20px;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-item {
    flex-basis: 33%;
    max-width: 33%;
    padding: 0 20px;
    margin: 20px 0;
    min-height: 200px;
}
.card-body {
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.card-img {
    width: 100%;
    height: 150px;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-details {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
}
.card-details > *{
    padding: 5px;
    margin: 0;
}
.card-heading {
    flex-basis: 85%;
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-details .cuisines {
    flex-basis: 100%;
    max-width: 100%;
}
.shineBox {
    text-align: right;
    flex-basis: 15%;
    max-width: 15%;
    display: inline-block;
}
.shineBox > span{
    display: inline-block;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 6px rgba(192,192,192,0.5);
    background-color: white;
}
.fx-b50{
    flex-basis: 50%;
    max-width: 50%;
}
.checkBoxDiv > label {
    margin: 0 5px;
}